<div class="mx-auto" style="width: 200px;">
    <form>
    <div class="mb-3">
        <label  class="form-label">Username</label>
        <input type="username" >
    </div>
    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Password</label>
        <input type="password" class="form-control" id="exampleInputPassword1">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>

<a href="/login">need to log in instead?</a>

<script src="/javascript/signup.js"></script>