.title {
    font-size: 2.5rem;
    padding: 15px;
    display: flex;
    justify-content: center;
    color: floralwhite;
    background-color: darkslategray;
}

.login-link {
    display: flex;
    justify-content: center;
}